<mat-card class='card'>
  <mat-card-title-group>
    <mat-card-title>Delay The Pay</mat-card-title>
    <mat-card-subtitle class='card-subtitle'>A simple, online layby managment tool</mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>
    <h2>Key Benefits</h2>
    <ul>
      <li>Simple management of customer laybys</li>
      <li>Notifications of impending payment dates</li>
      <li>Overview of layby financial position</li>
      <li>Reporting on income and income forecast</li>
      <li>Clarity</li>
    </ul>
  </mat-card-content>
</mat-card>

<mat-card class="card">
  <mat-card-title>News</mat-card-title>
  <mat-card-subtitle class='card-subtitle'>21-10-2017</mat-card-subtitle>
</mat-card>
